{% extends 'base.html.twig' %}

{% block title %}Pulsar Initialization{% endblock %}

{% block body %}

<div class="container-fluid text-center pt-5">
    <h1>Pulsar Initialization</h1>
    <h5>Pulsar is a simple and fast panel for the server that will allow you to manage resources, packages and settings, perform basic actions without the need for a terminal</h5>
    <a class="btn btn-primary btn-lg mt-5" href="{{ path('app_setup') }}" role="button">Start Setup</a>
</div>
{% endblock %}
